.footer-main {
  background: transparent;
  .footer--bottom {
    .unitize-padding(16, 12, 16, 12, 12);
  }
  .footer--copyright-heart {
    .unitize-padding(0, 3);
    color: @brand-primary;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  .newsletter--button {
      border: 1px solid #fff;
      color: @text-color;
      &:hover {
        color: @brand-primary;
      }
  }
}

.footer--vat-info {
  .vat-info--text {
    .unitize(font-size, 10);
  }
}

@media screen and (min-width: @tabletViewportWidth) {
  .footer-main {
    .footer--column {
      width: 100% / 3;
    }
  }
}
