/*
Header
==========================================
Defines the styles of the Shopware storeview header and its components.

It contains the viewport specific styles inside media queries.

The header sizes are defined by the unitize mixin.

More precise designations are commented inside the document.
*/

    // Basic header
.header-main {
    background: transparent;
    border: 0;

	// Logo
	.logo-main {

		.logo--link {
			.unitize-height(126, 16);
			display: block;
      width: 181px;
      max-width: 100%;
      margin: 0 auto;
		}

		// Smaller logo for mobile viewports
		.logo--shop {
			.unitize-height(126, 16);
			width: 100%;
      text-align: center;
		}

    .logo-svg {
      height: 100%;
      .logo-icon {

      }
      .logo-subtext {
        display: none;
      }
    }

  }
  .header--navigation {
    position: static;
  }
}

    // Shop navigation
.shop--navigation {
    position: static;

    .navigation--entry {
        margin: 0;
        .btn {
            width: 100%;
            background: transparent;
            // padding: 0;
        }

        .icon--basket-circle,
        .icon--account,
        .icon-- {
            .unitize(font-size, 30);
            display: inline;
            position: relative;
            vertical-align: middle;
            top: 0;
            left: 0;
        }

        .icon--heart-circle {
            .unitize-height(30);
            .unitize(font-size, 30);
            vertical-align: middle;
        }

        .icon--search {
            .unitize(font-size, 30);
        }
    }

    // Shop navigation quantity badges
    .cart--quantity,
    .notes--quantity {
        .unitize(-2, 16, top);
        .unitize(left, 29);
    }


    // Menu Button toggle OffCanvas
    // .entry--menu-left {
    //   position: fixed;
    //   top: 0;
    //   left: 0;
    //   .unitize-width(40);
    //   height: 100%;
    //   background: #000;
    //   z-index: @zindex-shop-navigation-entry--menu-left;
    //     .btn {
    //         // .unitize(font-size, 17);
    //         font-size: 0;
    //         color: #fff;
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%, -50%);
    //     }
    //     .icon--menu {
    //       left: 50%;
    //       transform: translate(-50%, -50%);
    //     }
    //
    // }

    .entry--search {
      .is--active {
        &.btn {
          background: transparent;
          color: #fff;
          border-color: transparent;
        }
      }
    }

    .entry--menu-left {

        .btn {
          font-size: 0;
          color: #fff;
        }

        .icon--menu {  }
    }
}

.entry--search {
  &.is--active {
    .main-search--form {
        .unitize(top, 196);
        background: #fff;
    }
  }
}

@media screen and (max-width: (@phoneLandscapeViewportWidth - 0.063em)) {
  .header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    background: #000;

    z-index: @zindex-shop-navigation-header-main-mobile;

    .header--navigation {
      position: relative;
    }

    .logo-main {
      position: absolute;
      right: 0;
      width: 138px;

      .logo--shop {
        position: relative;
        height: 16px;
        overflow: hidden;
      }

      .logo--link {
        position: relative;
        bottom: 76px;
      }

      .logo-svg {
        width: 120px;
      }

      .logo-icon {
        display: none;
      }
    }
  }

  .shop--navigation {
    position: absolute;
    top: 0;
    left: 0;

    .navigation--entry {

      .btn {
        .unitize-padding(2, 5);
      }

      .icon--search,
      .icon--heart-circle,
      .icon--account,
      .icon--basket-circle {
        .unitize(font-size, 18);
      }
    }

    .entry--menu-left {
      position: static;
      display: inline-block;

      .btn {
        .unitize(padding-left, 48);
      }

      .icon--menu {
        .unitize(font-size, 16);
      }
    }

  }

  .entry--search.is--active {

    .main-search--form {
      position: fixed;
      .unitize(top, 49);
      width: 100%;

      .icon--search {
        .unitize(font-size, 24);
      }
    }
  }

}

@media screen and (min-width: @phoneLandscapeViewportWidth) {
  .entry--search {
    // left: 0;
    // width: 50%;
    position: static;
    width: auto;

    .entry--trigger {
      display: inline-block;

    }

    .main-search--form {
      display: none;
      position: absolute;
      .unitize-padding(10, 10);

      .main-search--field {
        background: #fff;
      }

      .main-search--button {
        .unitize(right, 10);
      }
    }
  }
  .shop--navigation {
    .unitize(margin-right, -20);

    .entry--menu-left {
      position: fixed;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      .btn {
        .unitize(padding-left, 30);
        margin: 0;
      }

      .icon--menu {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .has--csstransforms {

    .entry--search {

      .entry--trigger.is--active::after {
        .unitize(margin-left, 5);
        background: #fff;
      }
    }
  }
}

    // Tablet styling for the global shop header
@media screen and (min-width: @tabletViewportWidth) {

    .header-main {
        position: relative;

        .logo-main {
            .unitize-padding(0, 0, 15, 10);
            width: 100%;

      			.logo--link { .unitize-height(126, 16); }

      			// Larger logo for tablet & desktop viewports
      			.logo--shop {
      				.unitize-height(126, 16);
      				width: 100%
      			}

            .logo-svg {

              .logo-subtext {
                display: block;
              }

            }

        }

        .header--navigation {
          .unitize-padding(10, 30);
        }

        .top-bar--navigation {

          .entry--service {
              color: #fff;
          }
        }

    }

    .logo-main,
    .shop--navigation {
        float: none;
        width: 100%;
    }

    .shop--navigation {
        width: 100%;
        //changed menu button display
        .entry--menu-left { display: block; }
        // Search entry
        .entry--search {
            left: 50%;
            width: 320px;
            transform: translateX(-50%);
            z-index: @zindex-shop-navigation-search-higher-viewport;
        }

        .entry--notepad {
          margin-top: 10px;
        }

        .entry--account {
          margin-top: 10px;
        }

        .entry--cart {
          margin-top: 10px;
        }

    }

    .entry--search {

      .main-search--form {
        display: block;

        .main-search--button {
          .unitize(right, 10);
        }
      }
    }

}

    // Tablet Landscape styling for the global shop header
@media screen and (min-width: @tabletLandscapeViewportWidth) {

    .header-main {
        .logo-main { width: 100%; }
        .shop--navigation { width: 100%; }
    }

    .shop--navigation {
        .entry--search {
            width: 32%;
            max-width: 640px;
            margin-right: 0;
        }
    }

    .navigation--list {

      .entry--cart {

        .icon--basket-circle {
            .unitize(left, 8);
            display: block;
            position: absolute;
            top: 50%;
        }

      }
      .entry--account {

        .account--link {
          .unitize(padding-left, 45);

        }

        .icon--account {
          .unitize(left, 8);
          display: block;
          position: absolute;
          top: 50%;
        }

      }

    }
}
